<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="uft-8">
        <title>Modernize</title>
        <meta name="About Me" content="Flask Fundamentals exercise: The About Me page">
        <link rel="stylesheet" href="Portfolio-flask.css">
    </head>
    <body>
        <div id="wrapper">
            <h2>About Me</h2>
            <br>
            <p>I am a Python web developer and love going to hackathons in my spare time. I love making things and meeting new people! People might be surprised to learn that I own a horse and used to be a horse trainer!</p>
            <a href="\Portfolio\templates\Portfolio-flask.html">Home</a>
        </div>
    </body>
</html>
