<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="uft-8">
        <title>Modernize</title>
        <meta name="My Portfolio" content="Flask Fundamentals exercise">
        <link rel="stylesheet" href="Portfolio-flask.css">
    </head>
    <body>
        <div id="wrapper">
            <h2>Welcome to my portfolio! My name is Anna!</h2>
            <br>
            <a href="\Portfolio_Web">A Web Project</a>
            <a href="\Portfolio_About">About Me</a>
        </div>
    </body>
</html>


