/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
#wrapper{
    width:970px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:gray;
    color:white;
}
