<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Dojos" content="Form to receive more exciting information">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Landing_page.css') }}">
        <title>Dojos</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Dojo Form</h1>
            <h3>Create a User</h3>
            <form action=''>
                Name: <input type='text' name='name'>
                Email: <input type='text' name='email'>
                <input type='submit' value='Create user'>
            </form>
            <br>
            <br>
            <form action=''>
                Name:<input type='text' name='name'>
                Email:<input type='text' name='email'>
                <input type='submit' value='Submit'>
            </form>
            <a href='/'>Back to Home page</a> 
            <a href=/Ninjas>Back to Ninjas information</a> 
        </div>
    </body>
</html>