<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Landing Page - Ninjas" content="All you ever wanted to learn about Ninjas">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Landing_page.css') }}">
    <title>Ninjas</title>
</head>
<body>
    <div id="wrapper">
        <H1>Ninjas Information</H1>
        <br>
        <h3>What is a Ninja?</h3>
        <p>A person who uses Ninjutsu is a ninja. Ninjutsu is not a martial art. Ninjutsu is an independent art of warfare that developed mainly in the regions of Iga in Mie Prefecture, and Koka in Shiga Prefecture, Japan. </p>
        <br>
        <h3>What does a Ninja do?</h3>
        <p>The jobs of a ninja are divided into the two main categories of performing espionage and strategy.</p>
        <ul>
            <li>The methodology for performing espionage and strategy is Ninjutsu. Espionage is similar to the job of modern spies, wherein one carefully gathers intelligence about the enemy and analyzes its military strength.</li>
            <li>Strategic activities are skills that reduce the enemy’s military power. Ninja did not fight strong enemies by themselves. Ninja fought enemies after they had reduced the enemies’ military power.</li>
        </ul>
        <a href='/'>Back to Home page</a> 
        <a href=/dojos>Click here to register</a> 
    </div>
</body>
</html>